.Notifications {
    padding: 1rem;
    border: 2px dotted red;
    top: 2rem;
    position: relative;
    width: 90vw;
}

li[data='default'] {
    color: blue;
}

li[data='urgent'] {
    color: red;
}